body {
    background-color: #333;
    color: dodgerblue;    
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.card {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    perspective: 1000px;
    background-color: transparent;
}

.flipped {
    transform: rotateX(180deg);
}

.card-inner {
    border: 1px solid white;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1.6s;
    transform-style: preserve-3d;
}

.back, .front {
    position: absolute;    
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
   
}
.back {
    color: #333;
    background-color: dodgerblue;
    transform: rotateX(180deg);
}


.buttons {
    margin-top:5px;
    width: 100%;    
    text-align: center;    
}

button {
    background-color: dodgerblue;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    padding: 4px 4px;
}
    